<?xml version="1.0"?>
<config>
  <modules>
    <SCWebstore_CyberSource>
      <version>0.1.0</version>
    </SCWebstore_CyberSource>
  </modules>
  <global>
    <models>
      <cybersource>
        <class>SCWebstore_CyberSource_Model</class>
      </cybersource>
    </models>
    <helpers>
      <cybersource>
        <class>SCWebstore_CyberSource_Helper</class>
      </cybersource>
    </helpers>
    <blocks>
      <cybersource>
        <class>SCWebstore_CyberSource_Block</class>
      </cybersource>
    </blocks>
  </global>
  <default>
    <payment>
      <cybersource>
        <model>cybersource/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Credit Card</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </cybersource>
    </payment>
  </default>
  <frontend>
    <routers>
      <cybersource>
        <use>standard</use>
        <args>
          <module>SCWebstore_CyberSource</module>
          <frontName>CyberSource</frontName>
        </args>
      </cybersource>
    </routers>
  </frontend>
</config>
